fastapi[all]
python-jose[cryptography]
yapf
python-dotenv
pyvis
networkx
transformers
langchain
accelerate
bitsandbytes
sentencepiece
nebula3-python
llama-index == 0.10.12
llama-index-core == 0.10.12
llama-index-graph-stores-nebula
llama-index-llms-langchain